<h2>{{ 'employeeList.headline' | translate }}</h2>

<!-- FILTERS -->
<app-employees-filters [filters]="filters"></app-employees-filters>

<!-- ACTIONS -->
<div class="actions" *ngIf="showActions" fxLayout fxLayoutAlign="start end" fxLayoutGap="2rem" [@fadeInDown]="showActions" [@fadeOutUp]="showActions">
    <label>{{ 'listActions.action' | translate }}</label>
    <mat-form-field>
        <mat-select [formControl]="action">
            <mat-option *ngFor="let action of actions" [value]="action.value" >
            {{ action.label | translate }}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="applyAction()">{{ 'listActions.apply' | translate }} </button>
</div>

<mat-table class="pocs-table mat-elevation-z8" [dataSource]="dataSource" multiTemplateDataRows
    matSort [matSortActive]="defaultSortColumn" matSortDirection="asc" matSortDisableClear>

    <!-- Checkbox -->
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- firstName -->
    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocEmployee.firstName' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{employee.firstName}}</mat-cell>
    </ng-container>

    <!-- lastName -->
    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocEmployee.lastName' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{employee.lastName}}</mat-cell>
    </ng-container>

    <!-- state -->
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocEmployee.status' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{ 'employeeStatuses.' + employeeStatusTranslation[employee.status] | translate }}</mat-cell>
    </ng-container>

    <!-- email -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocEmployee.email' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{employee.email}}</mat-cell>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let employee">
            <div class="element-detail"
                [@detailExpand]="employee == expandedElement ? 'expanded' : 'collapsed'" fxLayout  fxFlex>
                <div class="detail-cols" fxFlex>
                    <app-employees-details [employee]="employee" [current]="expandedElement === employee"></app-employees-details>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>

    <mat-row *matRowDef="let employee; columns: displayColumns;"
        class="element-row"
        [class.expanded-row]="expandedElement === employee"
        (click)="expandedElement = expandedElement === employee ? null : employee">
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
</mat-table>

<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>

<mat-paginator 
    [length]="dataSource.totalItems$ | async" 
    [pageSize]="defaultPageSize"
    [pageSizeOptions]="pageSizes"
></mat-paginator>
