:host {
    padding: 1rem;
}

nav {
    position: relative;

    #logo  { 
        height: 38px;
    }

    h1 {
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
    }
    .right { 
        margin-left: auto;

        a { 
            color: #fff;
            text-decoration: none; 
        }
    }
    .right button { height: auto; width: auto; }
}