<nav class="container">
  <div class="left">
    <img src="assets/images/logo.svg" alt="Ubirch" id="logo">
  </div>
  <h1>PoC Manager</h1>
  <div class="right" fxLayout fxLayoutGap="1rem">
    <div fxLayout fxLayoutAlign="flex-end center">
      <mat-icon aria-hidden="false">person</mat-icon>
      {{ 'Augustyn Zentner' | translate}}
    </div>
    <button mat-icon-button aria-label="Logout">
      <mat-icon aria-hidden="false">logout</mat-icon>
      {{ 'global.logout' | translate}}
    </button>
    
  </div>
</nav>
