<nav class="container" fxLayout fxLayoutAlign="center center">
  <div class="left" fxLayout fxLayoutAlign="center center" fxLayoutGap="2rem">
    <ng-content></ng-content>
    <img src="assets/images/logo.svg" alt="Ubirch" id="logo">
  </div>
  <h1>PoC Manager</h1>
  <div class="right" fxLayout fxLayoutGap="1rem">
    <div fxLayout fxLayoutAlign="flex-end center" *ngIf="userName" class="user-details">
      <mat-icon aria-hidden="false">person</mat-icon>
      <strong>{{ userName }}</strong>
    </div>
    <button mat-raised-button aria-label="Logout" (click)="logout()">
      <mat-icon aria-hidden="false">logout</mat-icon>
      {{ 'global.logout' | translate}}
    </button>
    
  </div>
</nav>
