<h1 mat-dialog-title>
  {{ data.title | translate }}
</h1>

<div mat-dialog-content>
  <p>{{ data.message | translate }}</p>
</div>

<div mat-dialog-actions fxLayout fxLayoutAlign="center">
    <ng-container *ngIf="!data.okOnly; else OK">
        <button mat-button (click)="onDismiss()">{{ data.no | translate}}</button>
        <button mat-raised-button color="primary" (click)="onConfirm()">{{ data.yes | translate }}</button>
    </ng-container>
    <ng-template #OK>
        <button mat-raised-button color="primary" (click)="onConfirm()">{{ data.ok | translate }}</button>
    </ng-template>
</div>
