<h2>
    {{ "superAdmin.tenantDetails.headline" | translate }}:
    <span>{{ tenant?.name }}</span>
</h2>

<mat-card>
    <mat-card-content>
        <mat-spinner style="margin: auto" *ngIf="!tenant"></mat-spinner>
        <form *ngIf="form" [formGroup]="form" fxLayout="column" fxLayoutGap="1rem" #f>
            <ng-container formGroupName="tenantDetails">
                <h3 fxLayout fxLayoutAlign="start center">
                    <mat-icon color="primary">factory
                    </mat-icon
                    >
                    {{ "superAdmin.pocDetails.tenant" | translate }}
                </h3>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width">
                        <mat-label>{{
                            'tenant.name' | translate
                        }}</mat-label>
                        <input
                            readonly="true"
                            matInput
                            formControlName="name"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>{{
                            'tenant.created' | translate
                        }}</mat-label>
                        <input
                            readonly="true"
                            matInput
                            formControlName="createdAt"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width">
                        <mat-label>{{ 'tenant.email' | translate }}</mat-label>
                        <input
                            matInput
                            formControlName="email"/>
                        <mat-error *ngIf="form.get('tenantDetails').get('email').errors">
                            {{ 'tenant.validationErrors.email' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>{{
                            'tenant.phone' | translate }}"</mat-label>
                        <input
                            matInput
                            formControlName="phone"/>
                        <mat-error *ngIf="form.get('tenantDetails').get('phone').errors">
                            {{ 'tenant.validationErrors.phone' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width">
                        <mat-label>{{
                            'tenant.tenantType' | translate
                        }}</mat-label>
                        <input
                            readonly="true"
                            matInput
                            formControlName="tenantType"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>{{
                            'tenant.usageType' | translate
                        }}</mat-label>
                        <input
                            readonly="true"
                            matInput
                            formControlName="usageType"
                        />
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-container>
                <h3 fxLayout fxLayoutAlign="start center">
                    <mat-icon color="primary">info
                    </mat-icon>
                    {{ "tenant.clientCertHeader" | translate }}
                </h3>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width locationIDField">
                        <mat-label>{{
                            'tenant.certValidUntil' | translate
                        }}</mat-label>
                        <input
                            *ngIf="!isPolling"
                            value="{{ tenant?.certExpirationDate | date:locale.dateFormatLong:'':locale.language}}"
                            readonly="true"
                            matInput
                        />
                        <input
                            *ngIf="isPolling"
                            value="{{ 'tenant.notifications.recentChange' | translate }}"
                            readonly="true"
                            matInput
                        />
                        <button
                            mat-raised-button
                            color="primary"
                            class="mat-btn-sm locationIdButton"
                            (click)="renewClientCertificate()"
                        >
                            {{'tenant.renewCert' | translate }}
                        </button>
                    </mat-form-field>
                </div>
                <p *ngIf="checkCertUrgency() == CERTURGENCY.URGENT" class="expirationAlert urgent"><mat-icon>notification_important</mat-icon> {{'superAdmin.cert.expirationWarnings.urgent' | translate}}</p>
                <p *ngIf="checkCertUrgency() == CERTURGENCY.VERYURGENT" class="expirationAlert veryUrgent"><mat-icon>warning</mat-icon> {{'superAdmin.cert.expirationWarnings.veryUrgent' | translate}}</p>
                <p *ngIf="checkCertUrgency() == CERTURGENCY.EXPIRED" class="expirationAlert expired"><mat-icon>error</mat-icon> {{'superAdmin.cert.expirationWarnings.expired' | translate}}</p>
            </ng-container>

            <div fxLayout="column" fxLayoutGap="1rem" class="actions">
                <button mat-raised-button
                        class="mat-btn-big"
                        color="primary"
                        (click)="submitForm()"
                        [disabled]="!form.dirty || form.invalid || form.pending">{{ "global.change" | translate }}</button>
                <button
                    mat-raised-button
                    [routerLink]="['/views', 'super-admin', 'tenants']">
                    <mat-icon aria-hidden="false">chevron_left</mat-icon>
                    {{ "global.back2list" | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<!--
-> spaeter:    certExpirationDate?: Date;
-->
