<h2>
    {{ "superAdmin.tenantDetails.headline" | translate }}:
    <span>{{ tenant?.name }}</span>
</h2>

<mat-card>
    <mat-card-content>
        <mat-spinner style="margin: auto" *ngIf="!tenant"></mat-spinner>
        <form *ngIf="form" [formGroup]="form" fxLayout="column" fxLayoutGap="1rem" #f>
            <ng-container formGroupName="tenantDetails">
                <h3 fxLayout fxLayoutAlign="start center">
                    <mat-icon color="primary">factory
                    </mat-icon
                    >
                    {{ "superAdmin.pocDetails.tenant" | translate }}
                </h3>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'tenant.name' | translate
                            }}"
                            formControlName="name"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'tenant.created' | translate
                            }}"
                            formControlName="createdAt"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'tenant.email' | translate
                            }}"
                            formControlName="email"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'tenant.phone' | translate
                            }}"
                            formControlName="phone"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout fxLayoutGap="2rem">
                <mat-form-field class="full-width">
                    <input
                        readonly="true"
                        matInput
                        placeholder="{{
                                'tenant.tenantType' | translate
                            }}"
                        formControlName="tenantType"
                    />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input
                        readonly="true"
                        matInput
                        placeholder="{{
                                'tenant.usageType' | translate
                            }}"
                        formControlName="usageType"
                    />
                </mat-form-field>
            </div>
            </ng-container>
            <div fxLayout="column" fxLayoutGap="1rem" class="actions">
                <button
                    mat-raised-button
                    [routerLink]="['/views', 'super-admin', 'tenants']"
                >
                    <mat-icon aria-hidden="false">chevron_left</mat-icon>
                    {{ "global.back2list" | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<!--
    tenantType: TenantType,
    usageType: TenantPoCUsageType,
-> spaeter:    certExpirationDate?: Date;
-->
