<!-- FILTERS -->
<form action="" [formGroup]="filters" *ngIf="filters" fxLayout fxLayoutGap="2rem" fxLayoutAlign="start end" class="filters">
    <label>{{ 'pocList.filters.filters' | translate }}</label>
    <mat-form-field>
        <mat-label>{{ 'pocList.filters.search' | translate }}</mat-label>
        <input matInput placeholder="{{ 'pocList.filters.searchPlaceholder' | translate}}" #input formControlName="search">
    </mat-form-field>
    <mat-form-field formGroupName="filterColumns">
        <mat-label>{{ 'pocList.filters.status' | translate }} </mat-label>
        <mat-select formControlName="status" multiple>
            <mat-option *ngFor="let status of statuses" [value]="status">{{ 'pocStatuses.' + PocStatusTranslation[status] | translate }}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" [routerLink]="[ '/views', 'import' ]" class="import-btn">
        <mat-icon aria-hidden="false" aria-label="Import pocs">add</mat-icon>
        {{ 'pocList.actions.import' | translate }} 
    </button>
</form>

<!-- ACTIONS -->
<div class="actions" *ngIf="showActions" fxLayout fxLayoutAlign="start end" fxLayoutGap="2rem" [@fadeDownIn]="showActions">
    <label>{{ 'pocList.actions.action' | translate }}</label>
    <mat-form-field>
        <mat-select [formControl]="action">
            <mat-option *ngFor="let action of actions" [value]="action.value" >
            {{ action.label | translate }}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="applyAction()">{{ 'pocList.actions.apply' | translate }} </button>
</div>

<mat-table class="pocs-table mat-elevation-z8" [dataSource]="dataSource" multiTemplateDataRows
    matSort [matSortActive]="defaultSortColumn" matSortDirection="asc" matSortDisableClear>

    <!-- Checkbox -->
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- pocId -->
    <ng-container matColumnDef="externalId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'poc.externalId' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let poc">{{poc.externalId}}</mat-cell>
    </ng-container>

    <!-- status -->
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'poc.status' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let poc">{{ 'pocStatuses.' + PocStatusTranslation[poc.status] | translate }}</mat-cell>
    </ng-container>

    <!-- name -->
    <ng-container matColumnDef="pocName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'poc.pocName' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let poc">{{poc.pocName}}</mat-cell>
    </ng-container>

    <!-- folderIdentifier -->
    <ng-container matColumnDef="dataSchemaId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'poc.dataSchemaId' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let poc">{{poc.dataSchemaId}}</mat-cell>
    </ng-container>

    <!-- createdAt -->
    <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'poc.created' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let poc">{{poc.created | date:'yyyy-MM-dd hh:mm' }}</mat-cell>
    </ng-container>

    <!-- updatedAt -->
    <ng-container matColumnDef="lastUpdated">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'poc.lastUpdated' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let poc">{{poc.lastUpdated | date:'yyyy-MM-dd hh:mm' }}</mat-cell>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let poc">
            <div class="element-detail"
                [@detailExpand]="poc == expandedElement ? 'expanded' : 'collapsed'">
                <div class="detail-cols">
                    <div><label>{{ 'poc.deviceId' | translate }}:</label> <span>{{ poc.deviceId }}</span></div>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>

    <mat-row *matRowDef="let poc; columns: displayColumns;"
        class="element-row"
        [class.expanded-row]="expandedElement === poc"
        (click)="expandedElement = expandedElement === poc ? null : poc">
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
</mat-table>

<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>

<mat-paginator [length]="dataSource.totalItems$ | async" [pageSize]="defaultPageSize"
[pageSizeOptions]="pageSizes"></mat-paginator>
