<form action="" [formGroup]="filters" *ngIf="filters" fxLayout fxLayoutGap="2rem" fxLayoutAlign="start end" class="filters">
  <label>{{ 'pocList.filters.filters' | translate }}</label>
  <mat-form-field>
      <mat-label>{{ 'pocList.filters.search' | translate }}</mat-label>
      <input matInput placeholder="{{ 'pocList.filters.searchPlaceholder' | translate}}" #input formControlName="search">
  </mat-form-field>
  <mat-form-field formGroupName="filterColumns">
      <mat-label>{{ 'pocList.filters.status' | translate }} </mat-label>
      <mat-select formControlName="status" multiple>
          <mat-option *ngFor="let status of statuses" [value]="status">{{ 'pocStatuses.' + PocStatusTranslation[status] | translate }}</mat-option>
      </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="downloadCSV()" [ngClass]="{ 'export-btn': true, spinner: exportDisabled }" [disabled]="exportDisabled">
    <mat-icon aria-hidden="false" aria-label="Export pocs to csv">download</mat-icon>
    {{ 'pocList.actions.export' | translate }} 
</button>
  <button mat-raised-button color="primary" [routerLink]="[ '/views', 'import' ]">
      <mat-icon aria-hidden="false" aria-label="Import pocs">add</mat-icon>
      {{ 'pocList.actions.import' | translate }} 
  </button>
</form>