.filters {
    margin-bottom: 1rem;

    .export-btn { margin-left: auto }
}

.filters {
    label, button {
        margin-bottom: 1.34375em;
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }

.spinner {
    mat-icon { visibility: hidden; }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 1rem;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}