form {
    padding: 2rem;
  }

.actions {
    margin: 2rem auto 0;
}

.actions_inrow {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-end flex-start;
    align-items: flex-end;
}

.readOnlyState{
    color: rgba(150, 150, 150, 1);
}

.information {
    h3 {
        font-weight: bolder;
    }
}
