<h2>{{ 'import.headline' | translate }}</h2>

<mat-card fxLayout="column" fxLayoutGap="2rem" fxLayoutAlign="start stretch">
  <p>
    Upload a .csv file below. 
  </p>

   <app-notification-inline [notification]="notification">
    <button mat-raised-button color="accent" (click)="downloadResult()" *ngIf="errorFile">
      <mat-icon aria-hidden="false" aria-label="Import pocs">file_download</mat-icon>
      {{ 'import.downloadFile' | translate }} 
    </button>
  </app-notification-inline>

  <app-file-upload (fileSelected)="fileSelected($event)" [progress]="progress"></app-file-upload>

  <div fxLayout="column" fxLayoutGap="3rem" class="actions">
    <button [disabled]="!file || !!progress" mat-raised-button color="primary" (click)="uploadFile()" class="import-btn">
      <mat-icon aria-hidden="false" aria-label="Import pocs">file_upload</mat-icon>
      {{ 'import.upload' | translate }} 
    </button>
    <button mat-raised-button [routerLink]="[ '/views', 'dashboard' ]" class="back-btn">
      <mat-icon aria-hidden="false" aria-label="Import pocs">chevron_left</mat-icon>
      {{ 'global.back' | translate }} 
    </button>
  </div>
 
</mat-card>