<form>
    <p>{{ 'userProfile.tokenUpdate.note' | translate }}</p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{ 'userProfile.tokenUpdate.creationToken' | translate }}</mat-label>
      <textarea matInput [attr.disabled]="loading?'true':null" [formControl]="token"></textarea>
      <mat-error>{{ 'userProfile.tokenUpdate.invalidToken' | translate }}</mat-error>
    </mat-form-field>

    <div mat-dialog-actions fxLayout fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="onUpdate()">{{ 'global.update' | translate }}</button>
    </div>
    
    <div class="spinner-container" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
</form>