<h2>
    {{ "superAdmin.pocDetails.headline" | translate }}:
    <span>{{ poc?.pocName }}</span>
    <!-- <span *ngIf="poc?.externalId"></span> -->
</h2>

<mat-card>
    <mat-card-content>
        <mat-spinner style="margin: auto" *ngIf="!poc"></mat-spinner>
        <form *ngIf="form" [formGroup]="form" fxLayout="column" fxLayoutGap="1rem" #f>
            <ng-container>
                <h3 fxLayout fxLayoutAlign="start center">
                    <mat-icon color="primary">people_alt
                    </mat-icon
                    >
                    {{ "superAdmin.pocDetails.tenant" | translate }}
                </h3>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'superAdmin.pocDetails.tenantName' | translate
                            }}"
                            formControlName="tenant"
                        />
                    </mat-form-field>
                </div>
            </ng-container>

            <ng-container *ngIf="poc?.pocType.includes('app')">
                <h3 fxLayout fxLayoutAlign="start center" fxLayoutGap="1rem">
                    <mat-icon color="primary">people_alt
                    </mat-icon
                    >
                    {{ "superAdmin.pocDetails.mainAdmin" | translate }}
                </h3>
                <app-poc-main-admin *ngIf="poc.mainAdmin"
                                    [mainAdmin]="[poc.mainAdmin]"
                ></app-poc-main-admin>
            </ng-container>

            <ng-container formGroupName="pocDetails">
                <h3 fxLayout fxLayoutAlign="start center" fxLayoutGap="1rem">
                    <mat-icon color="primary">info
                    </mat-icon
                    >
                    {{ "superAdmin.pocDetails.details" | translate }}
                </h3>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'superAdmin.pocDetails.pocName' | translate
                            }}"
                            formControlName="pocName"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'superAdmin.pocDetails.locationId' | translate
                            }}"
                            formControlName="externalId"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'superAdmin.pocDetails.status' | translate
                            }}"
                            formControlName="status"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'superAdmin.pocDetails.createdAt' | translate
                            }}"
                            formControlName="createdAt"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width">
                        <input
                            readonly="true"
                            matInput
                            placeholder="{{
                                'superAdmin.pocDetails.active' | translate
                            }}"
                            formControlName="active"
                        />
                    </mat-form-field>
                </div>
            </ng-container>

            <ng-container *ngIf="poc?.pocType.includes('app') && poc?.pocType.includes('bmg')">
                <h3 fxLayout fxLayoutAlign="start center">
                    <mat-icon color="primary">info
                    </mat-icon>
                    {{ "superAdmin.pocDetails.clientCert" | translate }}
                </h3>
                <div fxLayout fxLayoutGap="2rem">
                    <mat-form-field class="full-width locationIDField">
                        <input
                            value="{{ poc?.mainAdmin?.certExpirationDate | date:locale.dateFormatLong:'':locale.language}}"
                            readonly="true"
                            matInput
                            placeholder="{{
                                'superAdmin.pocDetails.validCert' | translate
                            }}"
                        />
                        <button
                            mat-raised-button
                            color="primary"
                            class="mat-btn-sm locationIdButton"
                            (click)="renewClientCertificate()"
                        >
                            {{'superAdmin.pocDetails.renewCert' | translate }}
                        </button>
                    </mat-form-field>
                </div>
                <p  *ngIf="getCertUrgency() == 0" class="expirationAlert urgent"><mat-icon>notification_important</mat-icon> {{'superAdmin.pocDetails.expirationWarnings.urgent' | translate}}</p>
                <p  *ngIf="getCertUrgency() == 1" class="expirationAlert veryUrgent"><mat-icon>warning</mat-icon> {{'superAdmin.pocDetails.expirationWarnings.veryUrgent' | translate}}</p>
                <p  *ngIf="getCertUrgency() == 2" class="expirationAlert expired"><mat-icon>error</mat-icon> {{'superAdmin.pocDetails.expirationWarnings.expired' | translate}}</p>
            </ng-container>

            <div fxLayout="column" fxLayoutGap="1rem" class="actions">
                <button
                    mat-raised-button
                    [routerLink]="['/views', 'super-admin', 'pocs']"
                >
                    <mat-icon aria-hidden="false">chevron_left</mat-icon>
                    {{ "global.cancel" | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
