.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

snack-bar-container.mat-snack-bar-container {
    padding: 0;
    min-height: auto;
    background-color: transparent;
    color: #000;
}