.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

snack-bar-container.mat-snack-bar-container {
    padding: 0;
    min-height: auto;
    background-color: transparent;
    color: #000;
}

.mat-button-base.mat-btn-big {
    font-size: 1.2rem;
    line-height: 3rem;
    padding: 0 2rem;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
    color: #000000de;
    background-color: #fff;
}

.mat-fab:not([class*=mat-elevation-z]), .mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner {
    mat-icon { visibility: hidden; }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 1rem;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.spinner-centerd:before {
    left: 50%;
    margin-left: -10px;
}

// LIST
.table-footer  {
    position: relative;

    mat-paginator { padding-left: 10rem; }
    .select-count {
        width: 10rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 24px;
    }
    .select-count span { opacity: 0.87; }
}

// LIST - STATE DETAILS
.state-details .mat-icon { color: #888; }
.state-details .mat-icon.success { color: green; }
