<div [ngClass]="{'file-drop': true, 'drag-over': draggedOver}" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem" #drop>
  <label for="file" fxLayout="column" fxLayoutAlign="center center">
    <strong>{{ fileName  | translate}}</strong>
    <span *ngIf="fileSize">{{ fileSize | fileSize}}</span>
  </label>
  <input type="file" id="file" #input (change)="selected($event)" [accept]="accept">
  <button mat-raised-button (click)="triggerrFileSelect()">{{ 'import.selectBtn' | translate }}</button>
</div>

