form { 
    position: relative; 
    padding: 1rem 0.5rem;
}

.spinner-container { 
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255, 0.3)
}

mat-spinner { 
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

mat-form-field.mat-form-field {
    min-width: 500px;
    max-width: 100%;
}

textarea {
    min-height: 180px;
}