<!-- <ion-app>
  <ion-header>
    <ion-content>
      <app-header></app-header>

    </ion-content>
  </ion-header>
    <ion-router-outlet class="container"></ion-router-outlet>
    <ion-footer>
      <ion-content>
        <app-footer></app-footer>
      </ion-content>
    </ion-footer>
</ion-app> -->

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<!-- <ion-app>
	<ion-header>
    <ion-toolbar>
	<ion-title>Hello</ion-title>
</ion-toolbar>
  </ion-header>
	<ion-content>
   
  </ion-content>
</ion-app>
 -->
