<h2>{{ 'adminList.headline' | translate }}</h2>

<!-- FILTERS -->
<app-admin-filters [filters]="filters"></app-admin-filters>

<!-- ACTIONS -->
<div class="actions" *ngIf="showActions" fxLayout fxLayoutAlign="start end" fxLayoutGap="2rem" [@fadeInDown]="showActions" [@fadeOutUp]="showActions">
    <label>{{ 'listActions.action' | translate }}</label>
    <mat-form-field>
        <mat-select [formControl]="action">
            <mat-option *ngFor="let action of actions" [value]="action.value" >
            {{ action.label | translate }}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <button [disabled]="actionLoding" [ngClass]="{spinner: actionLoding, 'spinner-centerd': true}" mat-raised-button color="primary" (click)="applyAction()">{{ 'listActions.apply' | translate }} </button>
</div>

<mat-table class="pocs-table mat-elevation-z8" [dataSource]="dataSource" multiTemplateDataRows
    matSort [matSortActive]="defaultSortColumn" matSortDirection="asc" matSortDisableClear>

    <!-- Checkbox -->
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- firstName -->
    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocAdmin.firstName' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let admin">{{admin.firstName}}</mat-cell>
    </ng-container>

    <!-- lastName -->
    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocAdmin.lastName' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let admin">{{admin.lastName}}</mat-cell>
    </ng-container>

    <!-- email -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocAdmin.email' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let admin">{{admin.email}}</mat-cell>
    </ng-container>

    <!-- pocName -->
    <ng-container matColumnDef="pocName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocAdmin.pocName' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let admin">{{admin.pocName}}</mat-cell>
    </ng-container>

     <!-- active -->
     <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocAdmin.active' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="admin.active"></mat-checkbox>
        </mat-cell>
    </ng-container>

     <!-- status -->
     <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocAdmin.status' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let admin">{{ 'adminStatuses.' + adminStatusTranslation[admin.state] | translate }}</mat-cell>
    </ng-container>

    <!-- createdAt -->
    <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pocAdmin.createdAt' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let admin">{{admin.created | date:'yyyy-MM-dd hh:mm' }}</mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <button *ngIf="admin.webIdentRequired && !admin.webIdentInitiateId " color="default" mat-mini-fab aria-label="Edit poc admin" (click)="editAdmin($event, admin)">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-cell>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let admin">
            <div class="element-detail"
                [@detailExpand]="admin == expandedElement ? 'expanded' : 'collapsed'" fxLayout  fxFlex>
                <div class="detail-cols" fxFlex>
                    <app-admin-details [admin]="admin" [current]="expandedElement === admin"></app-admin-details>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>

    <mat-row *matRowDef="let admin; columns: displayColumns;"
        class="element-row"
        [class.expanded-row]="expandedElement === admin"
        (click)="expandedElement = expandedElement === admin ? null : admin">
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
</mat-table>

<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>

<div class="table-footer">
    <div *ngIf="selectedCount" class="select-count mat-paginator">{{ 'global.selected' | translate }}: {{ selectedCount }}</div>
    <mat-paginator 
        [length]="dataSource.totalItems$ | async" 
        [pageSize]="defaultPageSize" 
        [pageSizeOptions]="pageSizes">
    </mat-paginator>
</div>
