<h2>Revocation {{ 'revocationAuthorizer.headline' | translate }}</h2>
<mat-tab-group
    mat-align-tabs="center"
    [selectedIndex]="0"
    style="align-items: stretch"
>
    <mat-tab
        label="{{
            'revocationAuthorizer.tabs.revocationsHeadline' | translate
        }}"
    >
        <app-authorizer-upload></app-authorizer-upload>
        <app-revocation-list></app-revocation-list>
    </mat-tab>
    <mat-tab
        label="{{ 'revocationAuthorizer.tabs.batchesHeadline' | translate }}"
    >
        <ng-template matTabContent>
            <app-revocation-batches-list></app-revocation-batches-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>
