<h2>{{ 'employeeEdit.headline' | translate }}</h2>

<mat-card>
    <mat-card-content>
      <form [formGroup]="form" *ngIf="form" fxLayout="column" fxLayoutGap="1rem">
          
        <div gdColumns="1fr 1fr" gdGap="1rem 2rem">

          <!-- FIRST NAME  -->
            <div fxLayout>
                <mat-form-field fxFlex>
                    <mat-label>{{ 'pocEmployee.firstName' | translate }}</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="form.get('firstName').errors">
                        {{ 'employeeEdit.validationErrors.firstName' | translate }}
                      </mat-error>
                </mat-form-field>
            </div>

            <!-- LAST NAME -->
            <div fxLayout>
                <mat-form-field fxFlex>
                    <mat-label>{{ 'pocEmployee.lastName' | translate }}</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="form.get('lastName').errors">
                        {{ 'employeeEdit.validationErrors.lastName' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- EMAIL -->
            <div fxLayout>
                <mat-form-field fxFlex>
                    <mat-label>{{ 'pocEmployee.email' | translate }}</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="form.get('email').errors">
                        {{ 'employeeEdit.validationErrors.email' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="column" fxLayoutGap="1rem" class="actions">
            <button mat-raised-button 
                class="mat-btn-big"
                color="primary" 
                (click)="submitForm()" 
                [disabled]="form.invalid || form.pending">{{ 'global.update' | translate }}</button>
            <button mat-raised-button (click)="backToList()">
                <mat-icon aria-hidden="false" aria-label="Import pocs">chevron_left</mat-icon>
                {{ 'global.cancel' | translate }}
            </button>
        </div>
      </form>
    </mat-card-content>

</mat-card>