input[type="file"] { width: 200px; }

.notice { 
    border: 2px solid;
    padding: 3rem;
}

.notice.warn { 
    border-color: tomato;
    background-color: rgb(255, 99, 71, 0.2);
}

mat-card.mat-card {
    padding: 2rem 3rem;
}

.actions { 
    max-width: 350px;
    margin: 0 auto;
}

.import-btn { 
    padding: 0.5rem 3rem;
}

.mat-addBtn {
    background-color: green;
    color: #fff;
    margin-top: 2rem;
}
.deleteBtn {
    margin-top: 10px;
}