<ion-content [fullscreen]="true" style="height: 100vh">
  <main>
    <app-header>
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="showNav">
        <mat-icon>menu</mat-icon>
      </button>
    </app-header>
    
    <mat-sidenav-container id="main-wrap" fxLayout="column">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                   [fixedInViewport]="true" mode="over" [opened]="false">
        <app-side-nav (click)="sidenav.close()"></app-side-nav>
      </mat-sidenav>
      
      <mat-sidenav-content class="container" fxLayout="column" fxFlex>
          <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>
    
    <app-footer></app-footer>
  </main>
</ion-content>
