:host {
    border: 1px solid transparent;
    display: block;

    p { margin-bottom: 0;  }

    .notification {
        padding: 1rem 2rem;
    }

    .error {
        color: #792618;
        background-color: #f9aa9c;
    }
    .success {
        color: #28792a;
        background-color: #beffc0;;
    }
    .warning {
        color: #63630d;
        background-color: #ffffa9;
    }

    .closeDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;

        .closeBut {
            align-self:flex-end;
            background-color: transparent;
            box-shadow: none;
        }
    }
}

