:host {
    border: 1px solid transparent;
    display: block;

    p { margin-bottom: 0;  }

    .notification {
        padding: 1rem 2rem;
    }
    .error {
        background-color: tomato;
        color: #fff;
    }
    .success {
        background-color: greenyellow;
    }
}

