:host {
    flex-grow: 1;
}
label {
    font-weight: bold;
    padding-right: 0.7rem;
}

.mat-divider { margin: 1rem 0; }

.mat-icon { color: red;}
.mat-icon.success {color: green;}

button.ident-button { margin-top: 0.5rem; } 
button.ident-button .mat-icon { color: #fff; }

.state-dates {
    margin-top: 1rem;
}

