<div gdColumns="170px 1fr" gdGap="0.2rem 0">
  <label>{{ 'pocAdmin.dateOfBirth' | translate }}:</label> <span>{{ birthDate }}</span>
  <label>{{ 'pocAdmin.phone' | translate }}:</label> <span>{{ admin.phone }}</span>
</div>

<mat-divider></mat-divider>

<div *ngIf="adminState | async as state; else spinner" [@fadeInDown]="state">
    <div gdColumns="1fr 1fr" gdGap="0 1rem">
      <div fxLayoutAlign="start center" fxLayoutGap="1rem" *ngIf="state.webIdentRequired !== undefined">
        <mat-icon aria-hidden="false" aria-label="Example home icon" [ngClass]="{success: state.webIdentRequired}">{{ icon(state.webIdentRequired) }}</mat-icon>
        <span>{{ 'pocAdmin.state.webIdentRequired' | translate}}</span>
      </div>
      <div fxLayoutAlign="start center" fxLayoutGap="1rem" *ngIf="state.webIdentInitiated !== undefined">
        <mat-icon aria-hidden="false" aria-label="Example home icon" [ngClass]="{success: state.webIdentInitiated}">{{ icon(state.webIdentInitiated) }}</mat-icon>
        <span>{{ 'pocAdmin.state.webIdentInitiated' | translate}}</span>
      </div>
      <div fxLayoutAlign="start center" fxLayoutGap="1rem" *ngIf="state.webIdentSuccess !== undefined">
        <mat-icon aria-hidden="false" aria-label="Example home icon" [ngClass]="{success: state.webIdentSuccess}">{{ icon(state.webIdentSuccess) }}</mat-icon>
        <span>{{ 'pocAdmin.state.webIdentSuccess' | translate}}</span>
      </div>
      <div fxLayoutAlign="start center" fxLayoutGap="1rem" *ngIf="state.certifyUserCreated !== undefined">
        <mat-icon aria-hidden="false" aria-label="Example home icon" [ngClass]="{success: state.certifyUserCreated}">{{ icon(state.certifyUserCreated) }}</mat-icon>
        <span>{{ 'pocAdmin.state.certifyUserCreated' | translate}}</span>
      </div>
      <div fxLayoutAlign="start center" fxLayoutGap="1rem" *ngIf="state.pocAdminGroupAssigned !== undefined">
        <mat-icon aria-hidden="false" aria-label="Example home icon" [ngClass]="{success: state.pocAdminGroupAssigned}">{{ icon(state.pocAdminGroupAssigned) }}</mat-icon>
        <span>{{ 'pocAdmin.state.pocAdminGroupAssigned' | translate}}</span>
      </div>
      <div fxLayoutAlign="start center" fxLayoutGap="1rem" *ngIf="state.keycloakEmailSent !== undefined">
        <mat-icon aria-hidden="false" aria-label="Example home icon" [ngClass]="{success: state.keycloakEmailSent}">{{ icon(state.keycloakEmailSent) }}</mat-icon>
        <span>{{ 'pocAdmin.state.keycloakEmailSent' | translate}}</span>
      </div>
      <!-- <div fxLayoutAlign="start center" fxLayoutGap="1rem">
        <mat-icon aria-hidden="false" aria-label="Example home icon" [ngClass]="{success: state.invitedToTeamDrive}">{{ icon(state.invitedToTeamDrive) }}</mat-icon>
        <span>{{ 'pocAdmin.state.invitedToTeamDrive' | translate}}</span>
      </div> -->
    </div>
    <div gdColumns="170px 1fr" class="state-dates">
      <label>{{ 'pocAdmin.state.errorMessage' | translate }}:</label><span>{{ state.errorMessage }}</span>
    </div>
    <div gdColumns="170px 1fr" *ngIf="state.webIdentRequired">
      <ng-container *ngIf="admin.webIdentInitiateId">
        <label>{{ 'pocAdmin.webIdentInitiateId' | translate }}:</label> <span>{{ admin.webIdentInitiateId }}</span>
      </ng-container>
      <ng-container *ngIf="admin.webIdentSuccessId">
        <label>{{ 'pocAdmin.webidentSuccessId' | translate }}:</label> <span>{{ admin.webIdentSuccessId }}</span>
      </ng-container>
    </div>
    <button 
        *ngIf="state.webIdentRequired && !state.webIdentSuccess" 
        mat-raised-button color="primary" 
        (click)="identify()"
        class="ident-button">
        <mat-icon aria-hidden="false" aria-label="Identify admin">fingerprint</mat-icon>
        {{ (state.webIdentInitiated ?  'listActions.completeIdentify' : 'listActions.identify') | translate }}
      </button>
</div>


<ng-template #spinner>
  <mat-spinner *ngIf="adminState" [diameter]="50"></mat-spinner>
</ng-template>



